.galleries-container {
  margin-top: 4rem;
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

.galleries-container > h2 {
  font-weight: 500;
  font-size: 2.5rem;
  letter-spacing: -2px;
  color: var(--white-primary);
  margin-bottom: 2rem;
  text-align: left;
}

.galleries-wrapper {
  overflow: hidden;
}

.galleries {
  display: flex;
  gap: 2rem;
  width: max-content;
  transition: transform 0.5s ease;
}

.gallery {
  background-color: var(--bg-deep-glass);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 2rem;
  position: relative;
  flex-direction: 0 0 auto;
  border-top: 2px solid var(--border-primary);
  border-left: 2px solid var(--border-primary);
  border-right: 2px solid var(--border-secondary);
  border-bottom: 2px solid var(--border-secondary);
}

.gallery-content {
  width: 260px;
  text-align: left;
}

.gallery-content h3 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--text-secondary);
}

.gallery-content p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 1rem;
  color: var(--white-primary);
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-50% - 1rem));
  }
}

.scrolling .galleries {
  animation: scroll 20s linear infinite;
}

.galleries-container button {
  padding: 2rem 3rem;
  font-size: 1.5rem;
  border-radius: 4rem;
  background-color: var(--bg-deep-glass);
  color: var(--text-secondary);
  margin: 2rem 0;
  position: relative;
  cursor: pointer;
}

.galleries-container button::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(160deg, var(--text-secondary) 50%, var(--text-quaterary) 100%);
  border-radius: inherit;
  z-index: -1;
  pointer-events: none;
}
