.galleries-container {
  margin-top: 4rem;
  text-align: center;
}

.galleries-container > h2 {
  font-weight: 500;
  font-size: 2.5rem;
  letter-spacing: -2px;
  color: var(--white-primary);
  margin-bottom: 2rem;
}

.galleries {
  display: flex;
  gap: 2rem;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  padding: 0.1rem;
}

.galleries::-webkit-scrollbar {
  display: none;
}

.gallery {
  width: 600px;
  background-color: var(--bg-deep-glass);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 2rem;
  position: relative;
}

.gallery::before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: linear-gradient(
    160deg,
    var(--border-primary) 2%,
    var(--border-secondary-1) 40%,
    var(--border-secondary-1) 55%,
    var(--border-tertiary) 100%
  );
  border-radius: inherit;
  z-index: -1;
  pointer-events: none;
}

.gallery-content {
  width: 250px;
}

.gallery-content h3 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--text-secondary);
}

.gallery-content p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 1rem;
  color: var(--white-primary);
}

.galleries-container button {
  padding: 2rem 3rem;
  font-size: 1.5rem;
  border-radius: 4rem;
  background-color: var(--bg-deep-glass);
  color: var(--text-secondary);
  margin: 2rem 0;
  position: relative;
  cursor: pointer;
}

.galleries-container button::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(160deg, var(--text-secondary) 50%, var(--text-quaterary) 100%);
  border-radius: inherit;
  z-index: -1;
  pointer-events: none;
}
