.hero-container {
  background-image: url(../assets/hero-image.svg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  border-radius: 2rem;
  margin-top: 3rem;
  position: relative;
}

.buildings-container {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
}

.buildings-sub-container {
  display: inline-block;
  padding: 2rem 3rem;
  border-radius: 2rem;
  color: var(--white-primary);
  background: #2222224d;
  backdrop-filter: blur(10px);
  border-top: 1px solid var(--border-primary);
  border-left: 1px solid var(--border-primary);
  border-right: 1px solid var(--border-tertiary);
  border-bottom: 1px solid var(--border-tertiary);
}

.buildings-container h2 {
  font-weight: 400;
  font-size: 2rem;
}

.checkbox-group {
  font-weight: 600;
  font-size: 1rem;
  margin-top: 1rem;
}

.checkbox-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.checkbox-item label {
  margin-right: 1.5rem;
}

.checkbox-item label i {
  margin-right: 1rem;
}

.checkbox-item input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--white-primary);
  border-radius: 50%;
  position: relative;
  outline: none;
  background-color: transparent;
  padding: 4px;
}

.checkbox-item input[type="checkbox"]::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color 0.1s ease;
}

.checkbox-item input[type="checkbox"]:checked::before {
  background-color: var(--text-secondary);
}
.checkbox-item input[type="checkbox"]:checked {
  border: 2px solid var(--text-secondary);
}

.checkbox-item label {
  cursor: pointer;
}

.badge-container {
  backdrop-filter: blur(5px);
  display: inline-block;
  position: relative;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background: #9999994d;
  backdrop-filter: blur(10px);
  border-top: 1px solid var(--border-primary);
  border-left: 1px solid var(--border-primary);
  border-right: 1px solid var(--border-tertiary);
  border-bottom: 1px solid var(--border-tertiary);
}

.badge-container h2 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--white-primary);
}

.badge {
  position: absolute;
  right: 0;
  bottom: -1rem;
  font-size: 0.5rem;
  font-weight: 600;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}

.badge ul li {
  margin-left: 0.5rem;
  position: relative;
}

.badge ul li::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  left: -0.8rem;
  top: 0.1rem;
  background-color: var(--bg-soft-black);
  border-radius: 50%;
}

@media (max-width: 1024px) {
  .buildings-container {
    display: none;
  }
  .badge-container {
    display: none;
  }
}

.slider {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.slider span {
  display: inline-block;
  width: 16rem;
  height: 0.4rem;
  border-radius: 2rem;
  background: linear-gradient(90deg, var(--text-secondary) 20%, #ffffff4d 20%);
  position: relative;
  z-index: 1;
}
