:root {
  /* background-colors */
  --bg-soft-black: #151515;
  --bg-deep-glass: #1b1b1b;
  --deep-glass: #2727274d;
  --bg-pink: #ee1d52;

  --white-primary: #ffffff;
  --white-secondary: #b4b4b4;

  /* text-colors */
  --text-primary: #9ae2c8;
  --text-secondary: #20d795;
  --text-tertiary: #0c5f55;

  /* border-colors */
  --border-primary: rgba(255, 255, 255, 0.4);
  --border-secondary-1: rgba(255, 255, 255, 0.0001);
  --border-secondary-2: rgba(255, 255, 255, 0.1);
  --border-tertiary: rgba(255, 255, 255, 0.1);
}
