:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;

  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--bg-soft-black);
  padding: 2rem 4rem;

  overflow-y: visible;
  overflow-x: hidden;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
}
